<div>
  <div>マイページ編集</div>
  <div>
     <% if @error_message %>
      <%= @error_message %>
    <% end %>
    <%= form_with(model: @user, url: "/users/#{@user.id}/update", local: true) do |user| %>
        <p>ハンドルネーム</p>
        <%= user.text_field :hdl_name, value: @user.hdl_name %>
        <p>自己紹介文</p>
        <%= user.text_area :content, value: @user.content %>
        <br>
        <%= user.submit "保存" %>
    <% end %>
  </div>
</div>