<div>
  <div>ログイン</div>
  <div>
    <% if @error_message %>
      <%= @error_message %>
    <% end %>
    <%= form_with(url: "/login", local: true) do |user| %>
        <p>ユーザーID</p>
        <%= user.text_field :user_id, value: @user_id %>
        <p>パスワード</p>
        <%= user.password_field :password, value: @password %>
        <br>
        <%= user.submit "ログイン" %>
    <% end %>
  </div>
</div>