<div>
  <div>新規ユーザー登録</div>
  <div>
    <% if @error_message %>
      <%= @error_message %>
    <% end %>
    <%= form_with(model: @user, url: "/users/create", local: true) do |user| %>
        <p>ユーザーID</p>
        <%= user.text_field :user_id, value: @user.user_id %>
        <p>ハンドルネーム</p>
        <%= user.text_field :hdl_name, value: @user.hdl_name %>  
        <p>パスワード</p>
        <%= user.password_field :password, value: @user.password %>
        <br>
        <%= user.submit "新規登録" %>
    <% end %>
  </div>
</div>