<div>
  <div>編集する</div>
  <div>
    <% if @error_message %>
      <%= @error_message %>
    <% end %>
    <%= form_with(model: @post, url: post_path(@post.id), local: true, method: :patch) do |post| %>
        <p>タイトル</p>
        <%= post.text_field :title, value: @post.title %>
        <p>契約形態</p>
        <%= post.text_field :select, value: @post.select %>
        <p>期間・期限</p>
        <%= post.text_field :period, value: @post.period %>
        <p>料金</p>
        <%= post.text_field :price, value: @post.price %>
        <p>詳細</p>
        <%= post.text_area :content, value: @post.content %>
        <br>
        <%= post.submit "保存" %>
    <% end %>
  </div>
</div>