<div>
  <div>新規投稿ページ</div>
  <div>
    <% if @error_message %>
      <%= @error_message %>
    <% end %>
    <%= form_with(model: @post, url: posts_path, local: true, method: :post) do |post| %>
        <p>タイトル</p>
        <%= post.text_field :title %>
        <p>契約形態</p>
        <%= post.text_field :select %>
        <p>期間・期限</p>
        <%= post.text_field :period %>
        <p>料金</p>
        <%= post.text_field :price %>
        <p>詳細</p>
        <%= post.text_area :content %>
        <br>
        <%= post.submit "投稿" %>
    <% end %>
  </div>
</div>