<div>
  <div class="text-center mt-5 mb-4">
    <h1 class="h3 mb-3 font-weight-normal">新規投稿ページ</h1>
    <% if @error_message %>
      <p><%= @error_message %></p>
    <% end %>
  </div>

  <%= form_with(model: @post, url: posts_path, local: true, method: :post) do |post| %>
    <div class="form-label-group">
      <p class="text mb-1">タイトル</p>
      <%= post.text_field :title, {value: @post.title, class: "form-control"} %>
    </div>
    <div class="form-label-group">
      <p class="text mb-1 pt-3">契約形態</p>
      <%= post.text_field :select, {value: @post.select, class: "form-control"} %>
    </div>
    <div class="form-label-group">
      <p class="text mb-1 pt-3">納期</p>
      <%= post.text_field :period, {value: @post.period, class: "form-control"} %>
    </div>
    <div class="form-label-group">   
      <p class="text mb-1 pt-3">料金</p>
      <%= post.text_field :price, {value: @post.price, class: "form-control"} %>
    </div>
    <div class="form-label-group">
      <p class="text mb-1 pt-3">詳細</p>
      <%= post.text_area :content, {value: @post.content, class: "form-control", rows: "7"} %>
    </div>
    <%= post.submit "投稿", {class: "btn btn-primary btn-block mt-4 w-25"} %>
  <% end %>
</div>