<div>
  <div>詳細ページ</div>
  <div>
    <p>ユーザーID：<%= @post.user_id %></p>
    <p>タイトル：<%= @post.title %></p>
    <p>契約形態：<%= @post.select %></p>
    <p>期間：<%= @post.period %></p>
    <p>料金：<%= @post.price %></p>
    <p>詳細</p>
    <p><%= @post.content %></p>
  </div>
  <div>
    <% if @post.user_id == @current_user.user_id %>
      <%= link_to("編集", "/posts/#{@post.id}/edit") %>
      <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
    <% end %>          
  </div>
  <div>
    <% if @like %>
      <%= link_to("お気に入り解除", like_path(@like, post_id: @post.id), {method: :delete}) %>
    <% else %>
      <%= link_to("お気に入り追加", likes_path(post_id: @post.id), {method: :post}) %>
    <% end %>
  </div>
</div>